@import "./reset.css";
@import "./element-override.less";
@import "./style.less";
@import "./form.css";
@import "./table.css";
@import "./var.less";
@font-face {
    font-family: 'iconfont';
    /* project id 290426 */
    src: url('//at.alicdn.com/t/font_vzub1kj0j1e89f6r.eot');
    src: url('//at.alicdn.com/t/font_vzub1kj0j1e89f6r.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_vzub1kj0j1e89f6r.woff') format('woff'), url('//at.alicdn.com/t/font_vzub1kj0j1e89f6r.ttf') format('truetype'), url('//at.alicdn.com/t/font_vzub1kj0j1e89f6r.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont";
    font-size: 25px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}